#include <windows.h>
#include "resource.h"
#pragma code_page(65001)
IDI_SLACKOFF ICON "slack-off.ico"
1 RT_MANIFEST "app.manifest"
1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "080404b0"
  BEGIN
   VALUE "FileDescription", "SlackOff 轻量快捷隐藏工具\0"
   VALUE "ProductName", "SlackOff\0"
   VALUE "FileVersion", "0.1.0\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x804, 1200
 END
END
